{%extends'layout.html'%}
{%block head_title%}
history
{%endblock%}
{%block content%}
<div class="col page-content">
    <h1 class="text-center" style="padding:20px">
        My history:
    </h1>
    <ul style="width:50%; margin:0 auto;">
        <li>Education</li>
        <ol>
            <li>Primary School: WDLC 1st primary school</li>
            <li>Secondary School: Wudalianchi 3RD middle school</li>
            <li>University
                <ol type="I">
                    <li><a href="//www.dufe.edu.cn/">My first university in my home country:DUFE</a></li>
                    <li><a href="//www.concordia.ca/">Now I'm in: Concordia university</a></li>
                </ol>
        </ol>
        <li>My work experience</li>
        <ol>
            <li>2007-2013 Alpine electric</li>
            <li>2018-2018 Sinoharma travel</li>
        </ol>
        <li>My physical properties</li>

        <table class="table">

            <tbody>
            <tr class="table-primary">
                <td>My height</td>
                <td>165</td>
                <td>Great</td>
            </tr>
            <tr class="table-success">
                <td>My weight</td>
                <td>Secret</td>
                <td>I'm not model</td>
            </tr>
            <tr class="table-danger">
                <td>My hair color</td>
                <td>black</td>
                <td>wonderful</td>
            </tr>
            </tbody>
        </table>
    </ul>

</div>
{%endblock%}