{%extends'layout.html'%}
{%block head_title%}
Search comment
{%endblock%}

{%block content%}


{%if session.get('username')=='admin'%}

<div class="col page-content col">
    <div class="jumbotron boss-form">
        <form action="/search" method="POST">

            <div class="form-group">
                <label for="keyword">From:</label>
                <input type="text" placeholder="key word to search" name="ID" id="ID" class="form-control"/>
            </div>

            <div class="form-group text-center">
                <button type="button" class="btn btn-dark" id="submit_comment">submit</button>
            </div>

        </form>
    </div>
</div>
{%else%}
<h2 class="text-center">Admin Login to search </h2>



{%endif%}

{%endblock%}